<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
    body {
     background-image: url('images/Blue.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
    }
    </style>
    <div th:replace="header :: myheader"></div>

    <title>Title</title>
</head>
<body>
<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="row">

        <a href="@{/userOnly/newInjForm}" class="btn btn-primary my-2 btn-block">Add Injection</a></br>
        <a href="@{/userOnly/MyInjections}" class="btn btn-primary my-2 btn-block">Injection Notebook</a></br>
        <a href="@{/userOnly/addReminder}" class="btn btn-primary my-2 btn-block">Reminder</a></br>
        <a href="@{/userOnly/myDoctorProfil}"class="btn btn-primary my-2 btn-block">My Doctor</a></br>
        <a href="@{/userOnly/profil}" class="btn btn-primary my-2 btn-block">Profil</a></br>
        <a href="@{/help"} class="btn btn-primary my-2 btn-block">Help</a></br>

    </div>
</div>
</body>
</html>