<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="header :: myheader"></div>

    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
<nav class="navbar navbar-expand-md bg-primary navbar-dark">

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/newInjForm}">Add Injection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/MyInjections}"> Injection Notebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/addReminder}">Reminder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/myDoctorProfil}">My doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/profil}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/newReview}">Add Periodic Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/userOnly/helpUser}">Help</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-md-auto" style="margin-left: auto;">
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-danger" type="submit" value="Logout">
                </form>
            </li>
        </ul>


    </div>
</nav>
</div>
</body>
</html>