<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="header :: myheader"></div>
  <title>My Injections</title>
</head>
<body>

<div th:replace="userOnly/navbar :: nav"></div>
<div class="container" th:each="p: ${pr}">
  <div class="row mt-5 p-3" style="background-color:aliceblue;" >
    <div class="col-sm-12" style="text-align:center;">
      <h3>Periodic review:</h3></div>
  </div>
      <div class="row p-3" style="background-color:aliceblue;" >
          <div class="col-sm-2" ><h5>Examination date:</h5></div>
        <div class="col-sm-2"><div th:text="${p.date}"></div></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-2"><h5>Month of next check-up</h5></div>
          <div class="col-sm-2"><div th:text="${p.nexmonth}"></div></div>
          <div class="col-sm-1" ></div>
      </div>
    <div class="row p-3" style="background-color:aliceblue;" >
      <div class="col-sm-12">
        Weight:</br>
        <div th:text="${p.weight}"></div><br>
        Arterial Pressure:<br>
        <div th:text="${p.arterialPressure}"></div></br>
      </div>
    </div>

    <div class="row p-3" style="background-color:aliceblue;" >
      <div class="col-sm-12">


        <h5>Blood and urine test:</h5>
        Cholesterol:</br>
        <div th:text="${p.cholesterol}+' mg/dl'"></div><br>

        HDL Cholesterol:<br>
        <div th:text="${p.hdlcholesterol}+' mg/dl'"></div><br>

        Triglycerides:<br>
        <div th:text="${p.triglycerides}+' mg/dl'"></div><br>

        Urea:<br>
        <div th:text="${p.urea}+' mg/dl'"></div><br>

        Creatinine:<br>
        <div th:text="${p.creatinine}+' mg/dl'"></div><br>

        Glycated Hemoglobin:<br>
        <div th:text="${p.glycatedHemoglobin}+' % - mmol/mol'"></div><br>

        Proteinuria:<br>
        <div th:text="${p.proteinuria}+' mg/dl'"></div><br>

        Microalbuminuria:<br>
        <div th:text="${p.microalbuminuria}+' mg/dl'"></div><br>

        <br>
        <h3>Fundus examination and fluoangiography:</h3>
        <div th:text="${p.eyeFluoangiography}"></div><br>
        <br>
        <br>

        <h3>Other:</h3>
        <div th:text="${p.other}"></div><br>

        <br>
      </div>
    </div>
  </form>
</div>
</body>
</html>