<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="header :: myheader"></div>
    <title>Title</title>
</head>
<body>
<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="row">
            <a th:href="@{/newDiab}" class="btn btn-primary my-2 btn-block">Inscription</a></br>
            <a th:href="@{/login}" class="btn btn-primary my-2 btn-block">Authentification</a></br>
            <a th:href="@{/help}" class="btn btn-primary my-2 btn-block">Aide</a></br>
    </div>
</div>
</body>
</html>