<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="header :: myheader"></div>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row mt-5" >
        <div class="col-sm-2" ></div>
        <div class="col-sm-8" >
            <form th:action="@{/inscription}"   method="post">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="firstname" placeholder="Enter firstname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="name" placeholder="Enter name"><br>
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="mail">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                <label for="pwd2">Password 2:</label>
                <input type="password" class="form-control" id="pwd2" placeholder="Enter password again" name="password2"><br>
                Doctor:
                <select class="form-select" aria-label="Default select example" >
                    <div th:each="doc: ${listDoc}">
                    <option th:text="${doc.name}" th:value="${doc.id_doctor}"></option>
                    </div>
                </select><br>
                <label for="bDate">Birthday</label>
                <input id="bDate" class="form-control" type="date" name="birthdate" value="" /><br>
                <label for="phone">Phone:</label><br>
                <input type="text" id="phone" name="phone" placeholder="+32 XXX XXX XXX"><br>
                <label for="emergency">Emergency contact phone:</label><br>
                <input type="text" id="emergency" name="emergencyContact" placeholder="+32 XXX XXX XXX"><br>
                <br>
                <label for="address">Adress:</label>
                <textarea class="form-control" rows="5" id="address" name="address"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <tr th:each="er: ${er}">
                <td th:text="${er}"></td>
                </br>
            </tr>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

</body>
</html>