<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="header :: myheader"></div>
    <title>Title</title>
</head>
<body>
<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
<form th:action="@{/authentification}"  method="post">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="mail" autofocus="autofocus">
    </div>
    <div class="mb-3">
        <label for="mdp" class="form-label">Password:</label>
        <input type="password" class="form-control" id="mdp" placeholder="Enter password" name="mdp">
    </div>

    <button type="submit" value = "Log In" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>