<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="header :: myheader"></div>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class-sm-2></div>
        <div class-sm-8>
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="phone">First name:</label><br>
                <input type="text" id="phone" name="phone" value="+32 XXX XXX XXX"><br>
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                <br>
                <label for="adress">Adress:</label>
                <textarea class="form-control" rows="5" id="adress" name="adress"></textarea>
                <br>
                <label for="desc">Adress:</label>
                <textarea class="form-control" rows="5" id="desc" name="desc"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class-sm-2></div>
    </div>
</div>

</body>
</html>